<div class="col-md-7 m-auto center">
    <form action="/user-history" method="POST">
        <button class="transferMoney-button" type="submit" name="" value="<%=  %>">
            ADD NEW USER
        </button>
    </form>
</div>