<%- include("header") -%>
<div class="col-md-6 center mx-auto">
    <div class="oops">
        <img src="/images/oops.jpg" alt="OOPS">
        <p>Not Found</p>
    </div>
</div>
<%- include("footer") -%>