<%- include("header") -%>

<div class="col-md-6 mx-auto other-details">
    <div class="text">
        <h1>
            About Me
        </h1>
        <p1>
            My self Aniket pursuing B.Tech in Computer Science at IIT Bhubaneswar. I am very
            passionate in creating beautiful web application.
        </p1>

    </div>

    <div class="text ">
        <h1>
            Why this web application
        </h1>
        <p1>
            I made it to complete the task given in my internship by "The Sparks Foundation (TSF)".
        </p1>
    </div>
    <div class="text ">
        <h1>Note</h1>
        <p1>This web application does not contain any real data.The users I have taken has nothing to do with any person.</p>
    </div>

    <div class="text">
        
        <h1 >Get in touch with me on</h1>
        <div >
            <a href="https://www.linkedin.com/in/harshad-pachore-4437271a1/"><i class="fab fa-linkedin"></i></a>
            <a href="https://www.facebook.com/harshad.pachore.9/"><i class="fab fa-facebook-square"></i></a>
            <a href="https://github.com/harsh21p"><i class="fab fa-github-square"></i></a>
        </div>
    </div>
</div>

<%- include("footer") -%>