<%- include("header") -%>

<div class="col-md-6 mx-auto other-details">
    <div class="text">
        <h1>
            About us
        </h1>
        <p1>
            Harshad's Project 
        </p1>

    </div>

    <div class="text ">
        <h1>
           contact
        </h1>
        <p1>
            bank contact here
        </p1>
    </div>
    <div class="text ">
        <h1>Note</h1>
        <p1>note here</p>
    </div>

    <div class="text">
        
        <h1 >OUR PROFILES</h1>
        <div >
            <a href="https://www.linkedin.com/in/harshad-pachore-4437271a1/"><i class="fab fa-linkedin"></i></a>
            <a href="https://www.facebook.com/harshad.pachore.9/"><i class="fab fa-facebook-square"></i></a>
            <a href="https://github.com/harsh21p"><i class="fab fa-github-square"></i></a>
            <a href="https://www.instagram.com/harsh21_p/"><i class="fab fa-instagram-square"></i></a>
            <a href="https://twitter.com/Harsh21_p/"><i class="fab fa-twitter-square"></i></a>
        </div>
    </div>
</div>

<%- include("footer") -%>