<%- include("header") -%>

<div class="col-md-6 mx-auto other-details">
    <div class="text">
        <h1>
            About us
        </h1>
        <p1>
            My self Harshad pursuing B.Tech in Bioenginnering at MIT Pune
        </p1>

    </div>

    <div class="text ">
        <h1>
           WHY ?
        </h1>
        <p1>
            I made it to complete the task given in my internship by "The Sparks Foundation (TSF)".
        </p1>
    </div>
    <div class="text ">
        <h1>Note</h1>
        <p1>All Temp</p>
    </div>

    <div class="text">
        
        <h1 >MY PROFILES</h1>
        <div >
            <a href="https://www.linkedin.com/in/harshad-pachore-4437271a1/"><i class="fab fa-linkedin"></i></a>
            <a href="https://www.facebook.com/harshad.pachore.9/"><i class="fab fa-facebook-square"></i></a>
            <a href="https://github.com/harsh21p"><i class="fab fa-github-square"></i></a>
        </div>
    </div>
</div>

<%- include("footer") -%>